:root {
  --branding-color: #f6ac4e;
  --background-color: #e7f2f1;
  --text-color: #3e3b2d;
  --secondary-color: #48abb2;
  --heading-font-family: "Zilla Slab", serif;
  --default-font-family: "Rajdhani", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--text-color);
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 150px;
  line-height: 100px;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 48px;
}
p {
  font-size: 24px;
}
img {
  border-radius: 20px;
}

footer {
  background-color: var(--branding-color);
  padding: 100px 0;
}
footer h2 {
  margin-bottom: 60px;
}
footer .contact {
  font-family: var(--heading-font-family);
  font-size: 30px;
  text-decoration: underline;
  margin: 0;
}
footer p {
  font-size: 18px;
  margin: 0;
}
footer a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
}
footer a:hover {
  color: var(--text-color);
  text-decoration: underline;
}
.social-links {
  font-size: 36px;
  padding-right: 15px;
  text-decoration: none;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 200px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 76px;
  font-weight: 700;
  margin: 0;
  line-height: 80px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  margin-top: 40px;
  font-weight: bold;
}
.hero a {
  font-family: var(--heading-font-family);
  font-size: 25px;
  margin-top: 40px;
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}
.hero a:hover {
  font-family: "Zilla Slab Highlight", cursive;
}

.content {
  background-color: var(--background-color);
  padding: 200px 20px;
}
.content h1 {
  font-size: 120px;
}
.content h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  margin: 40px 0;
  font-weight: bold;
}
.content p {
  font-family: var(--default-font-family);
  font-size: 76px;
  font-weight: 700;
  margin: 0;
  line-height: 80px;
}
.content .about-text {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 40px;
}
.content a {
  font-family: var(--heading-font-family);
  font-size: 25px;
  margin-top: 40px;
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}
.content a:hover {
  font-family: "Zilla Slab Highlight", cursive;
}
.content .email {
  text-decoration: none;
  font-family: var(--default-font-family);
}
.content .email:hover {
  font-family: var(--default-font-family);
}
.content .social-links {
  font-size: 36px;
}
.content .social-links:hover {
  font-family: var(--default-font-family);
}

.featured-projects {
  font-weight: bold;
}
.projects {
  background-color: var(--background-color);
}
.projects p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.projects h2 {
  font-family: var(--heading-font-family);
}
.projects a {
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
  font-size: 18px;
  font-family: var(--heading-font-family);
}
.projects a:hover {
  font-family: "Zilla Slab Highlight", cursive;
}
.projects .icons {
  color: var(--secondary-color);
}
.projects h2 .icons {
  font-size: 34px;
}

.logo {
  font-family: var(--heading-font-family);
  font-size: 36px;
}
.nav-bar {
  background-color: var(--branding-color);
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  font-size: 18px;
  margin-left: 30px;
  font-weight: bold;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav h3 {
  margin: 0;
  line-height: 40px;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 100px;
    line-height: 80px;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }
  .mb-4 {
    margin-bottom: 15px !important;
  }
  .mt-4 {
    margin-top: 15px !important;
  }
  .hero p {
    font-size: 48px;
    line-height: 60px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .projects h2 .icons {
    font-size: 24px;
  }
  .hero a {
    font-size: 18px;
  }
  .content {
    text-align: center;
    padding: 100px 20px;
  }
  .content h1 {
    font-size: 80px;
  }
  .content h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  .content p {
    font-size: 48px;
    line-height: 60px;
  }
  .content .about-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .content a {
    font-size: 18px;
  }
  .content img {
    margin-top: 20px;
  }
  .projects p {
    font-size: 24px;
  }
  .projects h2 {
    font-size: 36px;
  }
  nav li {
    margin-left: 15px;
  }
}
@media (max-width: 480px) {
  .project-description {
    padding: 0 25px;
  }
}
